@page
@model Patricia_Adelina_web.Pages.Vizionatori.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vizionator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vizionator.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vizionator.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vizionator.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vizionator.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vizionator.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vizionator.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vizionator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vizionator.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vizionator.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vizionator.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vizionator?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
